/* Navigation */

.navbar {
    z-index: 100;
    padding-top: 0;
    padding-bottom: 0;
}
.navbar.bg-custom {
    background-color: #1F1E26;
}
.navbar .navbar-nav {
    width: 100%;
}
.navbar .navbar-nav .nav-item .nav-link {
    padding: 0.5rem 40px;
    font-size: 1.5em;
}
.navbar-inverse .navbar-toggler {
    color: #1F1E26;
    border-color: transparent;
}
.navbar-inverse .navbar-toggler:focus, .navbar-inverse .navbar-toggler:hover {
    color: #1F1E26;
    border-color: transparent;
}