.glitch:before,
.glitch:after {
  display: block;
  content: 'coś więcej niż programowanie';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: .8;
}
.glitch:after {
  color: #f18f00;
  z-index: -1;
  animation: glitch 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
}
.glitch:before {
  color: #241D24;
  z-index: -2;
  animation: glitch 1.8s cubic-bezier(0.18, 0.39, 0.54, 0.78) reverse infinite;
}
@keyframes glitch {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -1px);
  }
  60% {
    transform: translate(1px, 3px);
  }
  80% {
    transform: translate(1px, -2px);
  }
  to {
    transform: translate(0);
  }
}
@media (min-width: 576px) {
  @keyframes glitch {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translate(-3px, 2px);
    }
    40% {
      transform: translate(-4px, -3px);
    }
    60% {
      transform: translate(2px, 3px);
    }
    80% {
      transform: translate(1px, -2px);
    }
    to {
      transform: translate(0);
    }
  }
}
.blog-main .blog-post .blog-post-img {
  width: 100%;
  margin-bottom: 20px;
}
.blog-main .blog-post .blog-post-img-thumb {
  min-width: 100%;
  width: 100%;
  margin-bottom: 20px;
}
.blog-main .blog-post .blog-post-title {
  word-wrap: break-word;
  font-size: 2rem;
}
.blog-main .blog-post .blog-post-attention-p {
  font-weight: 400;
  margin-bottom: .75rem;
  font-size: 1.25rem;
}
.blog-main .blog-post h3 {
  font-weight: 400;
}
.blog-main .blog-post .blog-post-meta {
  margin-bottom: 1rem;
}
.blog-main .blog-post .blog-post-meta p {
  margin-bottom: 0;
}
.blog-main .blog-post .blog-post-meta .badge-primary:hover {
  color: #16afc4;
  background-color: transparent;
}
.blog-main .blog-post .blog-post-share img {
  margin-bottom: 1rem;
}
.blog-main .blog-post .blog-post-share .twitter-mention-button {
  margin-left: 0;
}
.blog-main .blog-post .blog-post-share .row {
  margin-left: 15px;
  margin-right: 15px;
}
@media (min-width: 576px) {
  .blog-main .blog-post .blog-post-title {
    font-size: 3rem;
  }
  .blog-main .blog-post .blog-post-attention-p {
    font-size: 1.75rem;
  }
  .blog-main .blog-post .blog-post-img-thumb {
    min-width: 300px;
    width: 60%;
    margin-bottom: 20px;
  }
}
.bg-inverse-opaque {
  background-color: rgba(41, 43, 44, 0.9);
}
.btn-warning {
  color: #fff;
  border-color: #f18f00;
  background-color: #f18f00;
}
.btn-warning:hover {
  background-color: transparent;
  color: #f18f00;
  transition: all 0.3s ease-out;
}
.badge-primary {
  background-color: #16afc4;
  border: 1px solid #16afc4;
  transition: all 0.3s ease-out;
}
.blockquote {
  border-color: #f18f00;
  background-color: #292B2C;
  color: #f8f8f8;
}
.navbar-inverse .navbar-nav .nav-link.disabled:hover {
  color: #636c72;
}
/* GLOBAL Styling */
body {
  overflow-x: hidden;
  background-color: #f8f8f8;
}
@media (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}
a {
  color: #16afc4;
}
a:hover {
  color: #f18f00;
}
.link-secondary {
  color: #f18f00;
}
.color-primary {
  color: #f18f00;
}
.color-secondary {
  color: #16afc4;
}
.img-small {
  max-height: 150px;
  padding-top: .5rem;
  padding-right: 30%;
}
.divider {
  margin-top: 30px;
  margin-bottom: 30px;
  height: 1px;
  width: 100%;
  background-color: #292B2C;
}
.under-code-tag-fix {
  margin-top: 1rem;
}
.navbar-img {
  max-height: 1.5rem;
}
.anchor {
  display: block;
  position: relative;
  top: -66px;
  visibility: hidden;
}
.text-attention {
  font-weight: bold;
  font-size: 120%;
}
.fb-share {
  width: 68px;
  height: 20px;
  border: none;
  overflow: hidden;
}
.fa-envelope-o {
  color: #D54C3F;
  background-color: #ffffff;
  font-size: 1rem;
}
.share-buttons {
  margin-top: 2rem;
}
/* END */
/* NAVIGATION TOP */
.nav-bg {
  display: none;
  padding-top: .5rem;
  padding-bottom: .5rem;
  height: 66px;
  width: 100vw;
  background-color: #000;
}
.navbar {
  padding-top: 0;
  padding-bottom: 0;
  margin-left: -15px;
  margin-right: -15px;
}
.navbar .container-navbar {
  width: 100%;
}
.navbar .container-navbar .navbar-toggler-right {
  top: .25rem;
  right: 1rem;
}
.navbar .navbar-brand {
  margin-left: 1rem;
}
.navbar .navbar-brand .navbar-brand-name {
  margin: auto .25em;
  font-size: 1.25em;
  font-weight: bold;
  color: #f18f00;
}
.navbar .navbar-brand img {
  height: 40px;
  width: 40px;
}
.navbar-inverse .navbar-nav .nav-link {
  margin-left: 1rem;
  color: #16afc4;
}
.navbar-inverse .navbar-nav .nav-link:hover,
.navbar-inverse .navbar-nav .nav-link.active {
  color: #f18f00;
}
/* END OF NAVIGATION */
/* MAIN SECTION */
.main-header {
  position: relative;
  width: 100%;
  height: 500px;
  background: url("../images/jumbo-bg-compressed-2.jpg") no-repeat center -200px fixed;
  background-size: cover;
  z-index: -3;
}
.main-header .container {
  padding-left: 2rem;
  padding-right: 2rem;
  height: 100%;
}
.main-header .container .main-head .main-head-img {
  display: none;
}
.main-header .container .main-head .main-head-text {
  font-size: 4em;
  color: #f18f00;
}
.main-header .row {
  height: 50%;
}
.main-header .brand-slogan {
  position: relative;
  margin-top: -5rem;
  font-size: 2em;
  color: #16afc4;
}
.main-section {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
/* END OF MAIN SECTION */
/* ASIDE SECTION */
.blog-sidebar {
  display: none;
}
.sidebar-module-fb {
  margin-bottom: 1rem;
}
/* END OF ASIDE SECTION */
/* FOOTER */
footer {
  background-color: #292B2C;
  padding: 2rem 2rem;
}
footer a:hover,
footer a:focus {
  color: #f18f00;
}
footer .row {
  margin-bottom: 40px;
}
footer .row h4 {
  border-bottom: 1px solid #f18f00;
  color: #f18f00;
  margin-bottom: 20px;
}
footer .row img {
  max-height: 100px;
}
footer .row p {
  word-wrap: break-word;
  padding: 0.25rem;
}
footer .row .social-media-links {
  padding: .25em;
}
footer .row .social-media-links i {
  margin-left: 1rem;
  margin-bottom: 1rem;
}
footer .row a {
  margin-right: .5rem;
}
/* END OF FOOTER */
/* ABOUT ME */
.about-me-section {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.about-me-section img {
  margin-bottom: 1rem;
  margin-right: 1rem;
}
/* END OF ABOUT ME */
@media (min-width: 576px) {
  .main-header .container .main-head .main-head-img {
    display: inline-block;
    height: 8rem;
    margin-right: 2rem;
  }
  .main-header .container .main-head .main-head-text {
    font-size: 4em;
    color: #f18f00;
  }
  .main-section {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  .blog-sidebar {
    display: block;
  }
}
@media (min-width: 992px) {
  .nav-bg {
    display: block;
  }
  .navbar {
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
  .navbar .container-navbar {
    width: 960px;
  }
  .main-header .container .main-head .main-head-img {
    display: inline-block;
    height: 10rem;
    margin-right: 2rem;
  }
  .main-header .container .main-head .main-head-text {
    font-size: 5.25em;
    color: #f18f00;
  }
  .main-header .container .main-head .brand-slogan {
    font-size: 3.5em;
  }
}
@media (min-width: 1200px) {
  .navbar .container-navbar {
    width: 1140px;
  }
  .main-header .main-head-text {
    font-size: 6em;
  }
  .main-header .brand-slogan {
    font-size: 4em;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .blog-post-share .about-me-section-btn-fix {
    margin-left: 0;
  }
}
.blog-post-share {
  margin-left: 0;
  margin-right: 0;
}
.btn-email {
  margin-left: 8px;
  padding: 2px;
  height: 20px;
  color: #fff;
  border-color: #D54C3F;
  border-radius: 2px;
  background-color: #D54C3F;
  transition: none;
}
.btn-email img {
  height: 14px;
  margin-right: 0;
  margin-bottom: 1rem;
}
.btn-email span {
  color: #ffffff;
  display: block;
  float: right;
  margin: 0;
  padding: 0 2px 1px 4px;
  font-size: .7rem;
  line-height: 14px;
}
.btn-email:hover {
  background-color: #bc4639;
  border: 1px solid #bc4639;
  color: #ffffff;
}
@media (min-width: 768px) and (max-width: 992px) {
  .blog-post-share {
    height: 54px;
  }
}
