@font-face {
    font-family: 'caviar_dreamsregular';
    src: url('../fonts/CaviarDreams-webfont.eot');
    src: url('../fonts/CaviarDreams-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CaviarDreams-webfont.woff') format('woff'),
         url('../fonts/CaviarDreams-webfont.ttf') format('truetype'),
         url('../fonts/CaviarDreams-webfont.svg#caviar_dreamsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-family: 'Source Sans Pro';
    background: url("../images/MyWebsiteBg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

#home {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    margin: 0;
}
/* Social media icons START */
.social-media-icons {
    position: absolute;
    display: inline-flex;
    justify-content: center;
    z-index: 10;
    right: 0;
    height: 5vh;
    bottom: 4%;
    width: 100%;
}
.social-media-icons div {
    margin-bottom: 40%;
    margin-left: 20px;
}
.social-media-icons a {
    font-size: 1.5em;
    color: #C0E4D8;
    text-shadow: 2px 3px 3px #1f1f1f;
}
.social-media-icons i:hover{
    animation: pulse 2s linear infinite;
}

.social-media-icons i.fa-codepen {
    margin-left: -5px;
}
.social-media-icons i.fa-facebook-official {
    margin-left: -10px;
}
@media screen and (min-width: 920px) {
    .social-media-icons a {
        font-size: 2em;
    }
}
/* Social media icons END */

/* Selfie photo and name START */
.about-me {
    position: absolute;
    height: 70%;
    width: 100%;
    top: 10%;
    font-family: 'Source Sans Pro', sans-serif;
    color: #C0E4D8;
    padding-left: 20px;
    padding-right: 20px;
}
.img-face {
    height: 30vh;
    margin-left: 20px;
    margin-right: 20px;
}
.about-me .name,
.about-me h2 {
    font-weight: 300;
}
.about-me h2 {
    font-size: 1.25em;
}
.about-me .name {
    font-size: 2.25em;
}
.btn-outline-info {
    margin-top: 20px;
    padding: .25rem .5rem;
    color: #C0E4D8;
    border-color: #C0E4D8;
}
.btn-outline-info:hover, .btn-outline-info:focus  {
    color: #1F1E26;
    background-color: #C0E4D8;
    border-color: #C0E4D8;
}
@media screen and (min-width: 920px) {
    .about-me {
        height: 70%;
        width: 50%;
        top: 10%;
        padding-left: 20px;
        padding-right: 20px;
    }
    .img-face {
        height: 40vh;
        margin-left: 20px;
        margin-right: 20px;
    }
    .about-me .name {
        font-size: 2.5em;
    }
    .about-me h2 {
        font-size: 1.5em;
    }
    .btn-outline-info {
        padding: .25rem .5rem;
    }
}
@media screen and (min-width: 1200px) {

    .about-me .name {
        font-size: 3em;
    }
    .about-me h2 {
        font-size: 2em;
    }
    .btn-outline-info {
        padding: .5rem 1.25rem;
    }
}
/* Selfie photo and name END */

/* About me details START */
.about-me-details {
    position: absolute;
    color: #1F1E26;
    background-color: #47B2A2;
    height: 80%;
    width: 100%;
    top: 10%;
    right: 0;
    transform: translate(0, -200%);
    opacity: .95;
    overflow: hidden;
}

.about-me-details .fa {
    cursor: pointer;
    position: absolute;
    padding: 5px;
    font-size: 2em;
}
.about-me-details .fa-close {
    right: 0;
    top: 0;
}
.about-me-details .fa-angle-double-right,
.about-me-details .fa-angle-double-left {
    bottom: 0;
}
.about-me-details .fa-angle-double-right {
    right: 0;
    animation: next-cta 2s ease-in-out infinite;
}
.about-me-details .fa-angle-double-left {
    display: none;
    left: 0;
}
.about-me-details .fa-close:hover {
transform: rotate(360deg);
transition: all .8s;
}
.content {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 50px;
    overflow: auto;
}
.content .title {
    padding-top: 5%;
    margin-bottom: 0;
    text-wrap: normal;
    color: #1A2D31;
    font-size: 1.75em;
}
.content .subtitle {
    opacity: .7;
    font-size: 90%;
}
.content .title-comment {
    font-size: 1.25em;
}
.content .description-text {
    font-size: 1em;
}
.add-top-margin {
    margin-top: 10px;
}
.slide-up {
    transform: translate(0, -100%);
    transition: all 1s;
}
@media screen and (min-width: 920px) {
    .about-me-details {
        height: 70%;
        width: 50%;
        right: 5%;
    }
    .content .title {
        font-size: 2.5em;
    }
    .content .title-comment {
        font-size: 1.75em;
    }
    .content .description-text {
        font-size: 1.25em;
    }
}
@media screen and (min-width: 1200px) {
    .content .title {
        font-size: 3em;
    }
    .content .title-comment {
        font-size: 2.25em;
    }
    .content .description-text {
        font-size: 1.5em;
    }
}
@media screen and (min-width: 1600px) {
    .about-me-details {
        height: 70%;
        width: 35%;
        right: 20%;
    }
}
/* About me details END */

/* Skills icons START */
.skills {
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}
svg {
    margin: 5px;
    height: 40px;
    width: 40px;
}
.skill-percentage {
    stroke-dasharray: 185;
    stroke-dashoffset: 185;
    transform: rotate(90deg);
    transform-origin: 50% 50%;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
@media screen and (min-width: 920px) {
    svg {
        height: 80px;
        width: 80px;
    }
}
@media screen and (min-width: 1200px) {
    svg {
        margin: 10px;
    }
}
/* Skills icons END */

.skill-10 {
    animation-name: skill-10perc;
}
.skill-20 {
    animation-name: skill-20perc;
}
.skill-30 {
    animation-name: skill-30perc;
}
.skill-50 {
    animation-name: skill-50perc;
}

.slide-in {
    animation: slideIn .5s ease-out;
    animation-fill-mode: forwards;
}
.slide-out {
    animation: slideIn .5s ease-out;
    animation-direction: reverse;
}

/* ANIMATIONS */
@keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        transform: translate(0, -200%);
        opacity: 0;
    }
    25% {
        opacity: .25;
    }
    50% {
        opacity: .5;
    }
    75% {
        opacity: .75;
    }
    100% {
        transform: none;
        opacity: .9;
    }
}
@keyframes skill-10perc {
    from{
        stroke-dashoffset: 185;
    }
    to{
        stroke-dashoffset: 166.5;
    }
}
@keyframes skill-20perc {
    from{
        stroke-dashoffset: 185;
    }
    to{
        stroke-dashoffset: 148;
    }
}
@keyframes skill-30perc {
    from{
        stroke-dashoffset: 185;
    }
    to{
        stroke-dashoffset: 129.5;
    }
}
@keyframes skill-40perc {
    from{
        stroke-dashoffset: 185;
    }
    to{
        stroke-dashoffset: 111;
    }
}
@keyframes skill-50perc {
    from{
        stroke-dashoffset: 185;
    }
    to{
        stroke-dashoffset: 92.5;
    }
}

@keyframes next-cta {
    0%{
        margin-right: 0;
    }
    50% {
        margin-right: 10px;
    }
    100% {
        margin-right: 0;
    }
}
